.pokemon-list {
  padding-bottom: 10px;
}

.pokemon-list div {
  text-align: left;
  cursor: pointer;
}

.pokemon-list div:hover {
  background: gainsboro;
}

.pokemon-item input {
  margin-right: 1rem;
}
