/* index.css */
.App {
  text-align: center;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

li {
  list-style-type: none;
}

.pokemon-list {
  padding-bottom: 10px;
}

.pokemon-list div {
  cursor: pointer;
}

.pokemon-list div:hover {
  background: gainsboro;
}

button {
  cursor: pointer;
}
