/* index.css */
body {
  margin: 0;
}

.App {
  text-align: center;
}

.app {
  height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.app.light {
  background-color: #ffffff;
  color: #000000;
}

.app.dark {
  background-color: #000000;
  color: #ffffff;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

button {
  cursor: pointer;
}
